fieldset{
    border: 5px solid #001a28d5;
    border-radius: 20px;
    padding: 1.5em;
    border: 6px solid #029D90;
    margin-bottom: 20px; 
    width: 45%; 
    margin: 20px auto;
}

h1{
    color: #082737;
    font-size: 2em;
    text-align: center;
    margin: 20px;
}

form{
    max-width: 100%;
    margin: 0 auto;   
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
}
form label{
    font-size: 16px;
    margin-bottom: 5px;
}

p{
    margin: 5px 5px 0px 0px;
}

p[id=texto]{
    font-size: 20px;
    text-align: center;
    
}
form > p{
   font-size: 19px; 
}

input[type=text]{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}
input[type=email]{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type=date]{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select[id=idquarto]{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type=number]{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
textarea[id=idobs]{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}

.container{
    display: flex;
    margin: 0 90px;
}

button{
    background-color: #16e9b4;
    font-family: Arial, sans-serif;
    margin: 9px;
    grid-column: span 2;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;  
    transition: background-color 0.3s;

}

button[type="submit"]{
    width: 150px;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    margin-right: 10px; 
    cursor: pointer; 
    
}
button[type="reset"] {
    width: 150px;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    margin-right: 10px; 
    cursor: pointer; 
}